.example {
    color: #FFF;
}
    .example-item {
        width: 33.333%;
        height: 150px;
        
        /* display: inline
           - os elementos ficam um do lado do outro,
           - quem define seu tamanho é o conteúdo, não aceita width e height 
        */
        display: inline;
    }
    .example-item_first {
        background-color: #FAA116;
    }
    .example-item_second {
        background-color: #57C7C3;
    }
    .example-item_third {
        background-color: #3B97D3;
    }